<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Weather Why?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>E aí, vai chover?</h1>

    <form id="city-form" hx-post="/city" hx-target="#oob-display">
        <label for="city">Cidade:</label>
        <input type="text" name="city" placeholder="Cidade">
        <button type="submit">que só ver</button>
    </form>

    <hr>

    <main id="oob-display"></main>
</body>
</html>
